.entryForm {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.body {
   background-color: #DFF3E4;
}

.fieldText {
   display: flex;
   flex-direction: column;
   width: 300px;
   font-family: 'Ubuntu', sans-serif;
   background-color: #DFF3E4;
}

.button {
   text-align: center;
}

.header {
   text-align: center;
   background-color: #1d2951;
   color: white;
   padding: 20px;
   margin-bottom: 10px;
   font-family: 'Oswald', sans-serif;
}

.moe {
   width: 300px;
   float: right;
   margin-right: 20%;
   margin-top: 2%;
}

.entries {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   flex-direction: column;
}

.entryBox {
   border: black 3px solid;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
}