.entryForm{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.fieldText{
   display: flex;
   flex-direction: column;
   width: 300px;
   font-family: 'Ubuntu', sans-serif;
}

.button{
   text-align: center;
}

.header{
   text-align: center;
   background-color: #1f2041;
   color: white;
   padding: 20px;
   margin-bottom: 10px;
   font-family: 'Oswald', sans-serif;
}